{
  "extends": [
    "standard",
    "standard-react",
    "standard-flow"
  ],
  "rules": {
    "react/jsx-space-before-closing": 0,
    "react/jsx-indent": 0,
    "generator-star-spacing": 0,
    "react/no-unused-prop-types": 0, // Es lint is not that clever
    "no-var": "error",
    "react/prop-types": 0,
    "no-undef": 0
  },
  "env": {
    "node": true
  }
}
